/* start global rules */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-color: #ED563B;
    --main-transition-duration : 0.3s;
    --main-padding-top:100px;
    --main-padding-bottom:100px;
    --grayish-color : #EEE
}
body{
    font-family: poppins, sans-serif;
    height: 150vh;
}
html{
    scroll-behavior: smooth;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
/* small */
@media (min-width:768px){
    .container{
         width: 750px;
    }
}
/* medium */
@media (min-width:992px){
    .container{
         width: 970px;
    }
}
/* large */
@media (min-width:1200px){
    .container{
         width: 1170px;
    }
}
/* animations */

/* animations */

/* end global rules */

/* start header */
.header{
    height: 80px;
    width: 100%;
    background-color: rgba(250, 250, 250, 0.1);
    position: absolute;
    z-index: 999;
}
.header .container{
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    text-align: center;
    position: relative;
}
@media(max-width:991px){
    
    .header .container{
        flex-direction: column;
        justify-content: center;
    }
}
@media(max-width:767px){
    .header{
        background-color: white;
    }
    .header .container{
        flex-direction: row;
        justify-content: space-around;
    }
}
.header .container .logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .container .logo a{
    font-size: 32px;
    font-weight: 800;
    text-transform: uppercase;
    color: white;
}
@media(max-width:767px){
    .header .container .logo a{ 
        color: black;
    }
}
.header .container .logo a span{
    color: var(--main-color);
}
.header .container .nav{
    padding: 0px 15px;
    display: flex;
}
@media(max-width:767px){
    .header .container .nav{
        flex-direction: row-reverse;
    }
}
.header .container .nav-links{
    display: flex;
    align-items: center;
    
}

@media(max-width:767px){
    .header .container .nav .nav-links{
        visibility: hidden;
        flex-direction: column;
        align-items:initial;
        background-color: white;
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translateX(-50%);
        width: 70%;
        overflow: hidden;
        padding: 0 0 1px 0;
        max-height: 0%;
        transition: all var(--main-transition-duration) ease-out;
    }
    
}
.header .container .nav-links.active{
    visibility: visible;
    max-height: 310px;
    transition: all var(--main-transition-duration) ease-out;
}
.header .container .nav-links .link{
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42px;
}
.header .container .nav-links .link a{
    font-weight: 600;
    font-size: 13px;
    height: 40px;
    text-transform: uppercase;
    color: white;
    transition: color var(--main-transition-duration);
    letter-spacing: 1px;
    display: block;
    line-height: 40px;
}
@media(max-width:767px){
    .header .container .nav-links .link,
    .header .container .nav-links .link.link.Button-link{
        border-top: 1px var(--grayish-color) solid;
        padding: 25px 0;
    }
    .header .container .nav-links .link:hover{
        background-color: var(--grayish-color);
        transition: background-color var(--main-transition-duration) linear;
    }
    .header .container .nav-links .link a{
        color: black;
    }
    .header .container .nav-links .link:last-child a{
        color: white;
    }
}
.header .container .nav-links .link:hover a{
    color: var(--main-color);
    transition: color var(--main-transition-duration) linear;
}
.header .container .nav-links .link:last-child:hover{
    background-color: white;
}
.header .container .nav-links .link.active a{
    font-weight: 500;
    color: var(--main-color);
}

.header .container .nav-links .link.Button-link{
    padding: 11px 17px;
    background-color: var(--main-color);
}
.header .container .nav .menu-trigger{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
@media(max-width:767px){
    .header .container .nav .menu-trigger{
        display: flex;
    }
}
.header .container .nav .menu-trigger span{
    width: 75%;
    height: 2px;
    background-color: black;
    transform-origin:left ;
    transition: all var(--main-transition-duration) linear;
}
.header .container .nav .menu-trigger span:first-child.active{
    width: 100%;
    transform: rotate(45deg) translateX(-2px);
}
.header .container .nav .menu-trigger span:nth-child(2).active{
    opacity: 0;
}
.header .container .nav .menu-trigger span:last-child.active{
    width: 100%;
    transform: rotate(-45deg) translateX(-2px);
}
.header .container .nav .menu-trigger span:nth-child(2){
    width: 100%;
}
/* end header */

/* start main */
.main{
    width: 100%;
    height: 100vh;
    position: relative;
}
.main .video-background{
   min-width: 100%;
   max-width: 100%;
   min-height: 100%;
   max-height: 100%;
   object-fit: cover;
}
.main .video-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(35,45,57,0.8);
}
.main .caption{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    width: 80%;
}
.main .caption h6{
    font-size: 18px;
    color: white;
   
}
.main .caption h2{
    line-height: 100px;
    margin: 30px 0px;
    font-size: 84px;
    letter-spacing: 1px;
    word-spacing: 0;
    color: white;
}
.main .caption h2 span{
    color: var(--main-color);
}
.main .caption .button{
    text-align: center;
}
.main .caption .button a{
    font-size: 16px;
    background-color: var(--main-color);
    padding: 12px 20px;
    color: white;
    font-weight: 500;
}
/* end main */