/* start global rules */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-color: #ED563B;
    --main-transition-duration : 0.3s;
    --main-padding-top:100px;
    --main-padding-bottom:100px;
    --border-grayish-color : #EEE;
    --grayish-color : #7A7A7A;
    --main-padding-top : 100px;
    --main-padding-bottom : 80px;
    --black-color : #232D39;
    --link-blue-color : #0056B3 ;
    --main-border-radius : 5px;
}
body{
    font-family: poppins, sans-serif;
}
html{
    scroll-behavior: smooth;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

.main-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
}

.main-heading h2{
    font-size: 28px;
    font-weight: 800;
    color:var(--black-color);
    text-transform: uppercase;
}
.main-heading h2 span{
    color: var(--main-color);
}
.main-heading i{
    margin: 20px 0px;
    font-size:28px;
    color: var(--main-color);
}
.main-heading p{
    font-size: 14px;
    width: 50%;
    line-height: 25px;
    color: var(--grayish-color);
    text-align: center;
}
@media (max-width:480px) {
    .main-heading p{
        width: 100%;
    }
}
.main-button{
    text-align: center;
    margin: 0 auto;
    width: fit-content;
   
}
.main-button a{
    font-size: 16px;
    background-color: var(--main-color);
    padding: 12px 20px;
    color: white;
    font-weight: 600;
    border-radius: 5px;

   
}

/* small */
@media (min-width:768px){
    .container{
         width: 750px;
    }
}
/* medium */
@media (min-width:992px){
    .container{
         width: 970px;
    }
}
/* large */
@media (min-width:1200px){
    .container{
         width: 1170px;
    }
}
/* animations */

/* animations */

/* end global rules */

/* start header */
.header{
    height: 80px;
    width: 100%;
    background-color: rgba(250, 250, 250, 0.1);
    position: absolute;
    z-index: 999;
    transition: all var(--main-transition-duration) linear;
}
.header.fixed{
    background-color: #FAFAFA;
    position: fixed;
    box-shadow: rgba(0 ,0 , 0 ,0.15) 0px 0px 10px 0px;
    transition: all var(--main-transition-duration) linear;
}
.header.fixed .container .logo a,
.header.fixed .nav .nav-links .link:not(:last-child) a{
    color: var(--black-color);
}
.header .container{
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    text-align: center;
    position: relative;
}
@media(max-width:991px){
    
    .header .container{
        flex-direction: column;
        justify-content: center;
    }
}
@media(max-width:767px){
    .header{
        background-color: white;
    }
    .header .container{
        flex-direction: row;
        justify-content: space-around;
    }
}
.header .container .logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .container .logo a{
    font-size: 32px;
    font-weight: 800;
    text-transform: uppercase;
    color: white;
}
@media(max-width:480px){
    .header .container .logo a{
        font-size: 24px;
    }
}


.header .container .logo a span{
    color: var(--main-color);
}
.header .container .nav{
    padding: 0px 15px;
    display: flex;
}
@media(max-width:767px){
    .header .container .nav{
        flex-direction: row-reverse;
    }
}
.header .container .nav-links{
    display: flex;
    align-items: center;
    
}

@media(max-width:767px){
    .header .container .nav .nav-links{
        visibility: hidden;
        flex-direction: column;
        align-items:initial;
        background-color: white;
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translateX(-50%);
        width: 70%;
        overflow: hidden;
        padding: 0 0 1px 0;
        max-height: 0%;
        transition: all var(--main-transition-duration) ease-out;
    }
    
}
.header .container .nav-links.active{
    visibility: visible;
    max-height: 310px;
    transition: all var(--main-transition-duration) ease-out;
}
.header .container .nav-links .link{
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42px;
}
.header .container .nav-links .link a{
    font-weight: 600;
    font-size: 13px;
    height: 40px;
    text-transform: uppercase;
    color: white;
    transition: color var(--main-transition-duration);
    letter-spacing: 1px;
    display: block;
    line-height: 40px;
}
@media(max-width:767px){
    .header .container .nav-links .link,
    .header .container .nav-links .link.link.Button-link{
        border-top: 1px var(--border-grayish-color) solid;
        padding: 25px 0;
    }
    .header .container .nav-links .link:hover{
        background-color: var(--border-grayish-color);
        transition: background-color var(--main-transition-duration) linear;
    }
    .header .container .nav-links .link a{
        color: var(--black-color);
    }
    .header .container .nav-links .link:last-child a{
        color: white;
    }
}
.header .container .nav-links .link:hover a,
.header.fixed .container .nav-links .link:hover a{
    color: var(--main-color);
    transition: color var(--main-transition-duration) linear;
}
.header.fixed .container .nav-links .link:last-child:hover{
    background-color: #F9735b;
}
.header .container .nav-links .link:last-child:hover{
    background-color: white;
}
.header .container .nav-links .link.active a{
    font-weight: 500;
    color: var(--main-color) !important;
}

.header .container .nav-links .link.Button-link{
    padding: 11px 17px;
    background-color: var(--main-color);
}
.header .container .nav .menu-trigger{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
@media(max-width:767px){
    .header .container .nav .menu-trigger{
        display: flex;
    }
}
.header .container .nav .menu-trigger span{
    width: 75%;
    height: 2px;
    background-color: var(--black-color);
    transform-origin:left ;
    transition: all var(--main-transition-duration) linear;
}
.header .container .nav .menu-trigger span:first-child.active{
    width: 100%;
    transform: rotate(45deg) translateX(-2px);
}
.header .container .nav .menu-trigger span:nth-child(2).active{
    opacity: 0;
}
.header .container .nav .menu-trigger span:last-child.active{
    width: 100%;
    transform: rotate(-45deg) translateX(-2px);
}
.header .container .nav .menu-trigger span:nth-child(2){
    width: 100%;
}
/* end header */

/* start main */
.main{
    width: 100%;
    height: 100vh;
    position: relative;
}
.main .video-background{
   min-width: 100%;
   max-width: 100%;
   min-height: 100%;
   max-height: 100%;
   object-fit: cover;
}
.main .video-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(35,45,57,0.8);
}
.main .caption{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    width: 80%;
}
.main .caption h6{
    font-size: 18px;
    color: white;
   
}
.main .caption h2{
    line-height: 100px;
    margin: 30px 0px;
    font-size: 84px;
    letter-spacing: 1px;
    word-spacing: 0;
    color: white;
}
@media(max-width:480px){
    .main .caption{
        top: 45%;
    }
    .main .caption h6{
        width: 200px;
        margin: 0px auto 0;
    }
    .main .caption h2{
        font-size: 50px;
        line-height: 60px;
    }
}
.main .caption h2 span{
    color: var(--main-color);
}
@media(max-width:767px){
    .main .caption h2{
        font-size: 50px;
        line-height: 1.3;
    }
}
/* end main */
/* start features */
.features{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    width: 100%;
}
.features .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features .container .section-body{
    display: flex;
    align-items: center;
}
@media(max-width:991px){
    .features .container .section-body{
        flex-direction: column;
    }
}
.features .container .section-body .column{
    display: flex;
    flex-direction: column;
}
    
.features .container .section-body .column .box{
    display: flex;
    margin-bottom: 60px;
    padding: 0 15px;
}
.features .container .section-body .column .box .left-icon{
    margin: 0 30px 0 0;
}

.features .container .section-body .column .box .right-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    
}
.features .container .section-body .column .box .right-content h4{
    font-size: 19px;
    color: var(--black-color);
}
.features .container .section-body .column .box .right-content p{
    max-width: 100%;
    margin: 7px 0px;
    color: var(--grayish-color);
    font-size: 14px;
    line-height: 2;
}
.features .container .section-body .column .box .right-content p a{
    color: var(--link-blue-color);
    font-weight: 600;
    font-size: 14px;
}
.features .container .section-body .column .box .right-content a{
    color: var(--main-color);
    font-size: 13px;
}
/* end features */

.subscribe{
    background: url("../img/cta-bg.jpg");
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 450px;
}
.subscribe .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    text-align: center;
}
.subscribe .content h3{
    font-size: 36px;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
}
.subscribe .content h3 span{
    color: var(--main-color);
}
.subscribe .content p{
    margin: 15px 0px 30px;
    line-height: 25px;
    width: 100%;
    color: white;
}
.subscribe .content a{
    background-color: var(--main-color);
    padding: 10px 20px;
    text-transform: uppercase;
    color: white;
}
@media(max-width:480px){
    .subscribe .content h3{
        font-size: 25px;
    }
    .subscribe .content p{
        font-size: 14px;
    }
    
}

/* start classes */
.classes{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
   
}
.classes .container{
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
}
@media(max-width:991px){
    .classes .container{
        flex-direction: column;
        
    }
}
.classes .container .schedules-links{
    flex: 0 0 33.33%;
}
@media(max-width:991px){
    .classes .container .schedules-links{
        width: 100%;
        flex: 0 0 100%;
        margin: 0px 0px 30px 0px;
    }
}
@media(min-width:992px){
    .classes .container .schedules-links{
        padding: 0px 25px;

    }
}
.classes .container .schedules-links ul{
 width: 100%;
}
.classes .container .schedules-links ul li{
 margin-bottom: 30px;
 box-shadow : 0px 0px 15px rgba(0, 0, 0 ,0.1);
 display: flex;
 align-items: center;
 justify-content: center;
 align-items: center;
 border-radius: var(--main-border-radius);
}
.classes .container .schedules-links ul li a{
    font-size: 19px;
    font-weight: 600;
    padding: 30px;
    color: var(--black-color);
    display: flex;
    align-items: center;
    width: 100%;
}
.classes .container .schedules-links ul li a.active{
    color: var(--main-color)
}
.classes .container .schedules-links ul li a i{
    color: var(--main-color);
    font-size: 30px;
    margin-right: 10px;
    transform: rotate(-30deg);
}
.classes .container .schedules-links ul .button{
    text-align: center;
    border-radius: var(--main-border-radius);
}
.classes .container .schedules-links ul .button a{
    font-size: 19px;
    padding: 20px 30px 20px 30px;
    background-color: var(--main-color);
    font-weight: 700;
    color: white;
    display: block;
}
.classes .container .class-desc{
    flex: 0 0 66.66%;
}

@media(min-width:992px){
    .classes .container .class-desc{
        padding: 0px 25px;
    }
}

.classes .container .class-desc .content{
    display: none;
    flex-direction: column;
}
@media(max-width:991px){
    .classes .container .class-desc .content{
        align-items: center;
    }
}
.classes .container .class-desc .content.active{
    display: flex;
}
.classes .container .class-desc .content .image{
    width: 100%;
}
.classes .container .class-desc .content .image img{
    border-radius: var(--main-border-radius);
    max-width: 100%;
}

.classes .container .class-desc .content h3{
    font-size: 23px;
    font-weight: 700;
    margin: 20px 0px;
}
.classes .container .class-desc .content p{
    color: var(--grayish-color);
    margin: 0px 0px 20px 0px;
}
.classes .container .class-desc .content .main-button{
    margin: 0;
}
/* end classes */

/* start schedule */
.schedules{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: #343940;
}
.schedules .main-heading h2{
    color: white;
}
.schedules .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.schedules .container .days{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 15px auto
}
.schedules .container .days .day{
    color: white;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    transition: color var(--main-transition-duration);
    margin: 15px 10px 15px 0px;
}
.schedules .container .days .day.active{
    color: var(--main-color);
}
.schedules .container .days .day:hover{
    color: var(--main-color);
}
.schedules .container .days .day:not(:last-child)::after{
    content: "/";
    margin: 0px 0px 0px 10px;
    color: white !important;
}
.schedules .container .schedule-table{
    border: 1px solid white;
    border-collapse: collapse;
    width: 100%;
} 
.schedules .container .schedule-table tr{
    border-bottom: 1px white solid;
    border-collapse: separate;
}
.schedules .container .schedule-table tr td:not(:last-child){
    border-right: 1px solid white;
}
.schedules .container .schedule-table tr td{
    height: 100px;
    text-align: center;
    color: white;
    font-size: 13px;
    font-weight: 500;
}
.schedules .container .schedule-table tr td.time{
    opacity: 0;
    transition: opacity var(--main-transition-duration);
}
.schedules .container .schedule-table tr td.time.show{
    opacity: 1;
}
/* end schedule */
/* start trainers */
.trainers{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}

.trainers .container .trainers-card{
    display: flex;
    align-items: center;
}
@media(max-width:991px){
    .trainers .container .trainers-card{
        flex-direction: column;
    }
}
.trainers .container .trainers-card .card{
    padding: 40px;
    width: 350px;
    box-shadow: rgba(0 ,0 , 0 ,0.15) 0px 0px 10px 0px;
    margin: 0 15px;
}
@media(max-width:1199px){
    .trainers .container .trainers-card .card{
        width: 100%;
        margin-bottom: 50px;
    }  
}
.trainers .container .trainers-card .card .image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.trainers .container .trainers-card .card .image img{
    max-width: 100%;
    border-radius: var(--main-border-radius);
}
.trainers .container .trainers-card .card .content{
    display: flex;
    flex-direction: column;
}
.trainers .container .trainers-card .card .content span{
    font-size: 13px;
    font-weight: 500;
    color: var(--main-color);
    margin: 25px 0px 10px 0px;
    display: inline-block;
}
.trainers .container .trainers-card .card .content h4{
    font-size: 19px;
    font-weight: 600;
    color: var(--black-color);
    margin: 10px 0px;
}
.trainers .container .trainers-card .card .content p{
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 25px;
    color: var(--grayish-color);
}
.trainers .container .trainers-card .card .content .social{
    display: flex;
}
.trainers .container .trainers-card .card .content .social i{
    margin-right: 10px;
    color: var(--black-color);
}
/* end trainers */

/* start contact */
.contact{
    display: flex;
    margin-top: 100px;
}
.contact .location {
    min-height: 500px;
}
.contact .location iframe{
    min-height: 100%;
    max-height: 100%;
    width: 100%;
}
@media(min-width:992px){
.contact .location{
    flex: 0 0 50%;
    max-width: 50%;
}
.contact .contact-form{
flex: 0 0 50%;
max-width: 50%;
}
}
@media(max-width:991px){
    .contact{
        flex-direction: column;
    }
}
.contact .contact-form{
background-image: url("../img/contact-bg.jpg");
background-size: cover;
background-repeat: no-repeat;
background-position: cover cover;
}
@media(min-width:481px){
    .contact .contact-form {
        padding: 80px;
    }
}
.contact .contact-form form{
    display: block;
    background-color: white;
    padding: 40px;
    border-radius: var(--main-border-radius);
}
.contact .contact-form form .inputs{
    display: flex;
    flex-wrap: wrap;
}
.contact .contact-form form .inputs .input-div{
    flex: 0 0 100%;
    max-width: 100%;
}
.contact .contact-form form .inputs .input-div .input{
    width: 100%;
    font-size: 14px;
    margin: 0 0 30px 0;
    padding: 0 10px;
    height: 40px;
    outline: none;
    border: 1px solid #ddd;
}
.contact .contact-form form .inputs .input-div textarea{
    line-height: 40px;
    height: 150px !important;
    resize: none;

}
@media(min-width:481px){
    .contact .contact-form form .inputs .name,
    .contact .contact-form form .inputs .email{
        flex: 0 0 50%;
        max-width: 50%;
    }
}


/* end contact */

.footer{
    text-align: center;
    background-color: var(--main-color);
}
.footer p{
    font-weight: 600;
    color: black;
    text-transform: uppercase;
}
.footer p a{
    font-size: 19px;
    color: White;
}